<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Herd Inventory</h1>
    <p>Welcome to <%= title %> herd inventory</p>
    <form id="herd_form">
      <label for="breed">Breed</label>
      <input type="text" name="breed">

      <label for="name">Name</label>
      <input type="text" name="name">

      <label for="purchase_date">Purchase Date</label>
      <input type="date" name="purchase_date">

      <button type="submit" id="submit" onclick="apiRequest('POST', '/herd')">Submit</button>
    </form>

<br>
    <table>
      <thead>
        <tr>
          <th>
            Tag ID
          </th>
          <th>
            Breed
          </th>
          <th>
            Name
          </th>
          <th>
            Purchase Date
          </th>
        </tr>
      </thead>
      <tbody id="tbody">

      </tbody>
    </table>
    <script type="text/javascript" src="javascripts/clientFetch.js">

    </script>

  </body>
</html>
